.modal {
  color: #56557D;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 25px;
  z-index: 2;
  left: 0px;
  height: 80%;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  animation-name: animatedown;
  animation-duration: 0.4s;
}

@keyframes animatedown {
  from {bottom:-300px; opacity:0}
  to {bottom:0; opacity:1}
}

.modal-face {
  height: 45%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.divider {
  width: 66px;
  border: 2px solid #D9D9D9;
  border-radius: 5px;
  margin-top: 20px;
}

.modal-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  font-weight: 400;
  font-size: 24px;
}

.types {
  height: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
}

.types-box{
  background: #F6F6F8;;
  border-radius: 20px;
  height: 85px;
  width: 85px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 6px;
  position: relative;
  cursor: pointer;
}

.check-icon {
  color: #57BC85;
  position: absolute;
  top: -8px;
  right: -8px;
}

.modal-face .modal-title{
  justify-content: center;
}

.close {
  position: absolute !important;
  top: 0;
  right: 0;
  margin: 10px !important;
}

.message-modal{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-text{
  text-align: center;
  margin: 0 38px 28px 38px;
  font-weight: 400;
  font-size: 18px;
}

.try-face-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.try-face-modal .modal-title {
  font-weight: 600;
  font-size: 24px;
  color: #777777;
  margin: 30px 0px;
  justify-content: center;
}

.method-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.method-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #777777;
  cursor: pointer;
} 

.method-box .icon-box {
  width: 88px;
  height: 88px;
  background: #D9D9D9;
  border-radius: 20px;
  margin-bottom: 8px;
}

.try-face-modal .divider {
  border: 1px solid #D9D9D9;
  width: 90%;
}

.cancel-button{
  font-weight: 400;
  font-size: 24px;  
  color: #777777;
  background: none;
  padding: 12px 46px;
}

.go-button {
  width: 388px;
  background: #F6F6F8;
}

.alert-modal-quota{
  height: 30%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  display: none;
}

.label-file {
  cursor: pointer;
  background: #F6F6F8;
}

.search-button-form {
  background: #8239F8;
  color: #FFFFFF;
  padding: 16px 60px;
}

.picker {
  height: 100px;
  width: 100%;
  z-index: 1000;
}

.modal-date {
 align-items: center;
}

.date-container {
  height: 100%;
}

.react-datepicker {
  border-radius: 20px !important;
  height: 100% !important;
  border: none !important;
  background: #D9D9D9 !important;
  width: 100% !important;
}

.react-datepicker__header {
  background: #8239F8 !important;
  border-radius: 20px 20px 0px 0px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  color: #FFFFFF !important;
  width: 100% !important;
}

.react-datepicker__month-text{
  height: 50px;
  width: 50px !important;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 15px 8px;
  margin: 8px !important;
  font-weight: 400;
  font-size: 18px;
  color: #5F5F5F;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
  border-radius: 10px !important;
  background-color: #8239F8 !important;
}