.modal {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 25px;
  z-index: 2;
  left: 0px;
  height: 80%;
  background: #FFFFFF;
  border-radius: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}