:root {
  --text-color: #333;
  --accent-color: rgb(37, 126, 96);
  --btn-text-color: #f9f9f9;
  --alert-success-bg-color: #d4edda;
  --alert-success-text-color: #155724;
  --alert-danger-bg-color: #f5c6cb;
  --alert-danger-text-color: #721c24;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  #F6F6F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


img {
  border-radius: 5px;
}
.form {
  margin-bottom: 2rem;
}

.form-input {
  display: block;
  margin-bottom: 10px;
}

.alert {
  padding: 1rem 2rem;
  border-radius: 5px;
  position: fixed;
  top: 2rem;
  right: 0rem;
  min-width: 200px;
}

.alert-success {
  background-color: var(--alert-success-bg-color);
  color: var(--alert-success-text-color);
}

.alert-danger {
  background-color: var(--alert-danger-bg-color);
  color: var(--alert-danger-text-color);
}